.purchase-success-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .purchase-success-page-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
  }
  
  .purchase-success-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .purchase-success-page-text {
    font-size: 18px;
    margin-bottom: 32px;
  }
  
  .purchase-success-page-button {
    margin-top: 16px;
    border-radius: 10px;
  }

  .label-bottom{

    font-size: 150px;
  }