ion-content.segment{
    --background: url('./../../photo/bg5.png') no-repeat center/cover fixed !important;
    padding: 20px;
  }


  .segment {
    --background-image: url('./../../../src/photo/1.png');
    --background-size: cover; /* scale the image to cover the entire element */
    --background-position: center; /* center the image within the element */
    --padding: 20px;
  }

  .teacherCardContainer {
  width: calc(50%);
  box-sizing: border-box;
  display: inline-block;

  }

.teacherCardComp {
  border-radius: 20px;
  margin-bottom: 10px;
  --border-style: none;
  height: 200px;
 display: flex;
 flex-wrap: wrap;
 text-align: right;
 align-items: center;
 justify-content: center;
  }

.tutorPhoto{
  width:200px;
  height:120px;
  top: 10px;
  object-fit: cover;
}
.test{
  display: flex;
}
.imgTeacher{
    border-radius: 20px;
    top:-20px;
    height: 210px;
    width: 120px;
    bottom: 0;
    width:100%;
}


.font-inbox-top {
  display: inline-block;
  margin-right: 10px; /* add a 10px margin between each div */
  margin-bottom: 10px; /* add a 10px margin below each div to move it to the next line */
  font-size: 20px;
  top:10px
}
.font-inbox {
  display: inline-block;
  margin-right: 10px; /* add a 10px margin between each div */
  margin-bottom: 10px; /* add a 10px margin below each div to move it to the next line */
  font-size:10px;
}


.bookMarkedTeacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  height: 70px;
}

.bookMarkedTeachername {
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}

.bookMarkedexp {
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #fefefe;
  padding: 6px 12px;
}