ion-toolbar {
    /* --background: transparent !important;
    --color: rgba(0, 0, 0, 0.846); */
    --background: #005497;
    --border-color: transparent !important;
    /* --border-width: 4px 0; */
    /* --border-style: double; */
    color: aliceblue;
    --min-height: 70px;
    /* --padding-top: 20px; */
    /* --padding-bottom: 20px; */

  }

  