ion-tab-bar {
    /* --background: transparent !important;
    --color: rgb(0, 0, 0);
  
    --border-color: transparent !important;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 70px; */
    /* --padding-top: 20px; */
    /* --padding-bottom: 20px; */
/* 
    --border-color: transparent !important; */
    /* --height: 1000px;  */
    /* --padding-top: 20px; */
    /* --padding-bottom: 20px; */
    position: absolute;
    bottom: 0;
    width:90%;
    height: 8%;
    --background :#eff1f2df;
    --color:#616161;;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 10px;
    --border-style: none;
  }

