ion-tab-bar {
    /* --background: transparent !important;
    --color: rgb(0, 0, 0);
  
    --border-color: transparent !important;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 70px; */
    /* --padding-top: 20px; */
    /* --padding-bottom: 20px; */
/* 
    --border-color: transparent !important; */
    --height: 1000px; 
    /* --padding-top: 20px; */
    /* --padding-bottom: 20px; */
  }